<span class="pull-right item-picker-item-results-item-type">{{typeOfData}}</span>
<a href="" {{action 'selectItem' model}}>
  <div class="checkbox-inline">
    <input type="checkbox" checked={{readonly checked}}>
  </div>
  <div class="item-picker-item-results-item-inner">
    <h2 data-toggle="tooltip" title="{{model.title}}">
      {{model.title}}
    </h2>
    <div class="shared-by">
      {{#if events}}
        ({{itemHasEvents}}) {{t (concat _i18nScope "relatedEvents") }}
      {{else}}
        {{model.owner}}
      {{/if}}
    </div>
  </div>
</a>
