<span class="pull-right item-picker-item-results-item-type">{{typeOfData}}</span>
<a href="" {{action 'selectItem' model}}>
  <div class="checkbox-inline">
    <input class="magic-checkbox" type="checkbox" checked={{readonly checked}}>
    <span></span>
  </div>
  <div class="item-picker-item-results-item-inner">
    <h2>
      {{model.title}}
    </h2>
    <div class="shared-by">
      {{#if events}}
        ({{numberOfItems}}) {{t (concat _i18nScope "relatedEvents") }}
      {{else}}
        {{model.owner}}
      {{/if}}
    </div>
  </div>
</a>
