{{#bs-navbar collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="container">
    <div class="navbar-header">
      {{navbar.toggle}}
      {{link-to 'ember-arcgis-portal-components' 'index' class="navbar-brand"}}
    </div>
    {{#navbar.content}}
      {{#bs-nav class="navbar-nav" as |nav|}}
        {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}Item Picker <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}{{#ddm.link-to "itempicker.index"}}Default Usage{{/ddm.link-to}}{{/ddm.item}}
            {{#ddm.item}}{{#ddm.link-to "itempicker.multiselect"}}Multi-Select{{/ddm.link-to}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Facets" "itempicker.facets"}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Layer Picker" "itempicker.layerpicker"}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Default Catalog" "itempicker.defaultcatalog"}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Validation" "itempicker.validation"}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Specific ID" "itempicker.specificid"}}{{/ddm.item}}
            {{#ddm.item}}{{ddm.link-to "Cross Portal" "itempicker.portalopts"}}{{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/bs-nav}}
      {{#bs-nav class="navbar-nav navbar-right" as |nav|}}
        {{#if session.isAuthenticated}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}{{session.currentUser.fullName}} <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}<a href="#" {{action 'signout'}}>Sign Out</a>{{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
        {{else}}
        {{#nav.item}}<a href="#" {{action 'signin'}}>Sign In</a>{{/nav.item}}
        {{/if}}
        <li><a href="https://github.com/arcgis/ember-arcgis-portal-components">Github</a></li>
      {{/bs-nav}}
    {{/navbar.content}}<!--/.nav-collapse -->
  </div><!--/.container-fluid -->
{{/bs-navbar}}
<div class="container">
  {{outlet}}
</div>
