<div class="row">
  <div class="col-sm-12">
    <h2>Picking Items</h2>
  </div>
  <div class="col-sm-6">
    <h3>Default Usage</h3>
    <p>To simply add the component into your template and wire up the <code>selectAction</code> closure action.
      By default, the component will search public items in ArcGIS Online, or whatever portal your app is configured to use. </p>

      <pre>
{{ '{{item-picker
      selectAction=(action "onSelectItem")}}' }}
    </pre>
    <p>If you need to search against another portal, you can pass <code>portalOpts</code> to the component.</p>
  </div>
  <div class="col-sm-6">
    <h3>Selected Item </h3>
    {{#if selectedItem}}
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{selectedItem.title}}</h3></div>
        <div class="panel-body">
          {{sanitize-html selectedItem.description}}
        </div>
      </div>
    {{else}}
      <div class="alert alert-warning" role="alert">
        <p class="text-center">No Item Selected</p>
      </div>
    {{/if}}
  </div>

  <div class="col-sm-12">
    <h3>Modal Example </h3>
    <button type="button" class="btn btn-primary" onclick={{action (mut isModalOpen) true}}>Select an Item</button>
  </div>
  <div class="col-sm-12">
    <h3>Inline Panel Example</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search ArcGIS.com for Items</h3>
      </div>
      <div class="panel-body">
        {{item-picker selectAction=(action "onSelectItem")}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
{{#bs-modal open=isModalOpen onHidden=(action (mut isModalOpen) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Default Usage
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{item-picker selectAction=(action "onSelectItem")}}
  {{/modal.body}}
{{/bs-modal}}
