  {{#if showFacets}}
    <div class="item-picker-radio-buttons col-xs-2">
      {{#each catalog as |appType|}}
        {{#radio-button
          value=appType.name
          groupValue=selectedCatalogName
          changed="chooseCatalog"
          classNames=(concat "item-picker-radio-button-" (dasherize appType.name))
        }}
          <span>{{appType.name}}</span>
        {{/radio-button}}
      {{/each}}
    </div>
  {{/if}}

  {{#if showMessage}}
    <div class="alert alert-warning" role="alert">{{t (concat _i18nScope) "loading"}}</div>
  {{/if}}

<div class="{{if showFacets "col-xs-10" "col-xs-12"}}">
    {{search-form q=q onSearch=(action "doSearch")}}

    <div class="item-picker-results-container">
      <ul class="results-list">
        {{#if loading}}
          <li>{{t (concat _i18nScope "loading")}}...</li>
        {{else if noItemsFoundMsg}}
          <li><h3>{{noItemsFoundMsg}}</h3></li>
        {{else}}
          {{#each items.results as |item|}}
            {{component row
              selectMultiple=selectMultiple
              itemsToAdd=itemsToAdd
              _i18nScope=_i18nScope
              onSelectionValidator=onSelectionValidator
              model=item
              currentItemId=currentItem.id
              onClick=(action "onItemClick")}}
          {{/each}}
        {{/if}}
      </ul>

      {{#if currentItem}}
        <section class="item-picker-current-item">
          {{component preview
            _i18nScope=_i18nScope
            model=currentItem
            params=previewParams
            onSelectionValidator=onSelectionValidator
            onItemSelected=(action 'onPreviewSelected')
            onCancel=(action 'cancelAction')
          }}
        </section>
      {{/if}}
    </div>

    {{#if selectMultiple}}
      <div class="item-picker-status">
        <span>
          {{t (concat _i18nScope "selectedCount") count=itemsToAdd.length}}
        </span>
        {{#if hasItemsToAdd}}
          <button {{action 'deselectAll'}} class="btn btn-link">{{t (concat _i18nScope "deselectAll")}}</button>
        {{/if}}
      </div>
    {{/if}}

    {{item-pager class="pull-left"
      _i18nScope=_i18nScope
      pageSize=pageSize
      totalCount=totalCount
      pageNumber=pageNumber
      changePage=(action "changePage")}}

    {{#if selectMultiple}}
      <button type="button" class="btn btn-primary pull-right col-xs-1" disabled={{disableAddItems}} {{action selectAction itemsToAdd}}>{{t (concat _i18nScope "buttons.selectMultiple")}}</button>
    {{/if}}
</div>
