<div class="row">
  <div class="col-sm-12">
    <h1>Ember ArcGIS Portal Components</h1>
    <p>This addon contains a set of component that allows Ember developers to quickly work with ArcGIS Portal entities.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2>Installation</h2>
    <p>Install as you would any Ember addon...</p>
    <pre>
      ember install ember-arcgis-portal-components
    </pre>

<h3>Item Picker</h3>
<p>Allows you to easily search ArcGIS online or Portal for Items</p>
<pre>
{{ '{{item-picker
    selectAction=(action "onSelectItem")}}' }}
</pre>


<h3>Group Picker</h3>
<p>Allows you to easily search ArcGIS online or Portal for Groups</p>
<pre>
{{ '{{group-picker
    selectAction=(action "onSelectGroup")}}' }}
</pre>


<h3>User Picker</h3>
<p>Allows you to easily search ArcGIS online or Portal for Users</p>
<pre>
{{ '{{user-picker
    selectAction=(action "onSelectUser")}}' }}
</pre>
</div>


</div>
