<div class="layer-picker-list">
  <ul class="nav nav-pills nav-stacked">
    {{#each model.layers as |layer|}}
      <input
        type="radio"
        name="selectedLayer"
        checked={{layer.checked}}
        value={{layer.id}}
        class="magic-radio"
        id={{layer.name}}
        onchange={{action selectItemAndLayer model layer.id}}
      />

      <label for="{{layer.name}}">{{layer.name}}</label>
    {{/each}}
  </ul>
</div>