<h4>{{model.item.title}}</h4>

<div class="shared-by-owner">{{t (concat _i18nScope "sharedBy") }}: {{model.item.owner}}</div>
<div><i class="glyphicon icon-layers"></i>{{layerList.length}}</div>
<div><i class="glyphicon glyphicon-calendar"></i>{{format-time model.item.modified}}</div>
<div><i class="glyphicon glyphicon-file"></i>{{itemType}}</div>

<div class="item-picker-current-item-preview-description">
  {{sanitize-html description}}
  <div class="text-fade"></div>
</div>

{{#if showLayers}}
  <section class="layer-picker-controls">
  <h6>{{t (concat _i18nScope "layerList")}}</h6>

  {{#if isLoading}}
    {{loading-indicator msg=(t (concat _i18nScope "loadingLayers"))}}
  {{else}}
      {{#if showError}}
        <p class="alert {{messageClass}}" id="val-error">
          {{validationResult.message}}
        </p>
      {{else}}
        {{item-picker/layer-picker
          model=layerList
          i18nScope=_i18nScope
          selectable=forceLayerSelection
          onLayerSelected=(action "onLayerSelected")}}
      {{/if}}
  {{/if}}
  </section>
{{/if}}


<section class="item-picker-controls">
  <div class="full-width-btn">
    <button type="button" class="btn btn-primary" data-test="item-picker-select-button" disabled={{isSelectDisabled}} {{action "onServiceSelected" model}}>{{selectButtonText}}</button>
  </div>
  <div class="side-by-side">
    <button type="button" class="btn btn-default back-btn" {{action onCancel}}>{{t (concat _i18nScope "buttons.back")}}</button>
    <a href="{{previewUrl}}" target="_blank" class="btn btn-default preview-btn">{{t (concat _i18nScope "buttons.preview")}}</a>
  </div>
</section>
