{{#if showError}}
  <p class="alert {{messageClass}}" id="val-error">
    {{validationResult.message}}
  </p>
{{/if}}
{{image-with-fallback imgSrc=thumbnailUrl fallbackSrc='ember-arcgis-portal-components/assets/images/default-dataset-thumb.png'}}
<h4>{{model.item.title}}</h4>

<div class="shared-by-owner">{{t (concat _i18nScope "sharedBy") }}: {{model.item.owner}}</div>
<div class="item-date-modified"><i class="glyphicon glyphicon-calendar"></i>{{ format-time model.item.modified }}</div>
<div class="item-item-type"><i class="glyphicon glyphicon-file"></i>{{ itemType }}</div>

<div class="item-picker-current-item-preview-description">
  {{sanitize-html description}}
  <div class="text-fade"></div>
</div>


<section class="item-picker-controls">
    <div class="full-width-btn">
      <button type="button" class="btn btn-primary" data-test="item-picker-select-button" {{action onItemSelected model.item}}>{{selectButtonText}}</button>
    </div>
    <div class="side-by-side">
      <button type="button" class="btn btn-default back-btn" {{action onCancel}}>{{t (concat _i18nScope "buttons.close")}}</button>
      <a href="{{previewUrl}}" target="_blank" class="btn btn-default preview-btn">{{t (concat _i18nScope "buttons.preview")}}</a>
    </div>
</section>
