{{#if showError}}
  <p class="alert {{messageClass}}" id="val-error">
    {{errorMessage.message}}
  </p>
{{/if}}
{{image-with-fallback imgSrc=thumbnailUrl fallbackSrc='ember-arcgis-portal-components/assets/images/default-dataset-thumb.png'}}
<h4>{{model.item.title}}</h4>
<div class="item-picker-current-item-preview-meta">
  <span class="shared-by-owner">{{t (concat _i18nScope "sharedBy") }}: {{model.item.owner}}</span>
	<span><i class="glyphicon glyphicon-calendar"></i>{{ format-time model.item.modified }}</span>
  <span><i class="glyphicon glyphicon-file"></i>{{ itemType }}</span>
</div>

<div class="item-picker-current-item-preview-description">
  {{sanitize-html description}}
  <div class="text-fade"></div>
</div>

<section class="item-picker-controls">
    <div class="full-width-btn">
      <button type="button" class="btn btn-primary btn-block" data-test="item-picker-select-button" {{action onItemSelected model.item}}>{{selectButtonText}}</button>
    </div>
    <div class="side-by-side">
      <button type="button" class="btn btn-default btn-block back-btn" {{action onCancel}}>{{t (concat _i18nScope "buttons.back")}}</button>
      <a href="{{previewUrl}}" target="_blank" class="btn btn-default btn-block preview-btn">{{t (concat _i18nScope "buttons.preview")}}</a>
    </div>
</section>
