{{#if showError}}
  <p class="alert {{messageClass}}" id="val-error">
    {{errorMessage.message}}
  </p>
{{/if}}
{{#unless showFallback}}
  <img src="{{thumbnailUrl}}" alt="" />
{{/unless}}
<h2>{{model.title}}</h2>
<span class="shared-by-owner">{{t (concat _i18nScope "sharedBy") }}: {{model.owner}}</span>

<div class="item-picker-current-item-preview-meta">
  <div><i class="glyphicon icon-layers"></i>{{ model.layers.length }}</div>
	<div><i class="glyphicon glyphicon-calendar"></i>{{ format-time model.modified }}</div>
  <div><i class="glyphicon glyphicon-file"></i>{{ itemType }}</div>
</div>

<div class="item-picker-current-item-preview-description">
  {{sanitize-html description}}
  <div class="text-fade"></div>
</div>

{{item-picker/layer-picker model=model.layers}}